@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



@theme {
  --color-white: #ffffff;  
  --color-gray: #212B36;
  --color-gray-light: #F8FAFC;
  --color-gray-dark: #212529;
  --color-dim-gray: #696969;
  --color-snow-gray: #F7F8FA;
  --color-muted-gray: #999999;
  --color-light-gray: #EEEEEE;
  --color-gray-tint: #F4F6F8;
  --color-dark-charcoal: #111111; 
  --color-sea-green: #10b981;
  --color-sea-green-deep: #238B6D;  
  --color-dark-slate:#212529;
  --color-muted-rose: #FF6F6180;
  --color-onyx: #1F1F1F;

  /* Box Shadow */
    --box-shadow-1: 4px 4px 10px 4px rgba(0, 0, 0, 0.20);

  /* Font Size and Font Weight */
  --text-30-bold: 1.875rem;
  --text-30-bold--font-weight: 700;
  --text-30-bold--line-height: 36px;
  --text-30-bold--font-style: normal;

  --text-24-semibold: 1.5rem;
  --text-24-semibold--font-weight: 600;
  --text-24-semibold--line-height: 120%;
  --text-24-semibold--font-style: normal;

  --text-22-bold: 1.375rem;
  --text-22-bold--font-weight: 700;
  --text-22-bold--line-height: 26.4px;
  --text-22-bold--font-style: normal;
 
  --text-16-semibold: 1rem;
  --text-16-semibold--font-weight: 600;
  --text-16-semibold--line-height: 120%;
  --text-16-semibold--font-style: normal;

  --text-16-normal: 1rem;
  --text-16-normal--font-weight: 400;
  --text-16-normal--line-height: 120%;
  --text-16-normal--font-style: normal;

  --text-15-normal: 0.938rem;
  --text-15-normal--font-weight: 400;
  --text-15-normal--line-height: 22.5px;
  --text-15-normal--font-style: normal;

  --text-15-semibold: 0.938rem;
  --text-15-semibold--font-weight: 600;
  --text-15-semibold--line-height: 22.5px;
  --text-15-semibold--font-style: normal;

}

.container {
    max-width: 1440px!important;
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    background-imgae: url(./img/map.png);
    color: var(--color-gray-dark);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Edge */
}

.nav-menu {
    max-height:78px;
    height: 78px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(5px);
    width: 100%;
}


.nav-menu ul li{
    @apply text-[var(--color-dark-charcoal)] ;
    font-weight: 600;
    font-family: sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.nav-menu ul li a:hover {
    @apply text-[var(--color-sea-green-deep)] ;
}
.color-red{
    background-color: var(--color-gray);
}

.primary-radius-18{
    @apply rounded-[18px] text-white flex items-center justify-center;
    background-color: var(--color-sea-green-deep);
    width: 36px;
height: 36px;
opacity: 1;
}

.campaign-card{
    @apply w-[319px] flex-shrink-0 h-[346px] rounded-[10px] bg-white shadow-(--box-shadow-1) p-5 space-y-5;
}